<footer>
    <div class="container">
        <div class="footer_block">
            <div class="top_block clearfix">
                <div class="left_block">
                    <a href="/">
                        <img src="/img/footer/footer_logo.svg" alt="footer_logo" class="footer_logo"/>
                    </a>
                    <ul class="footer_social">
                        <li>
                            <a href="#" target="_blank" rel="nofollow" class="social_facebook"></a>
                        </li>
                        <li>
                            <a href="#" target="_blank" rel="nofollow" class="social_instagram"></a>
                        </li>
                    </ul>
                </div>
                <div class="center_block">
                    {% include '../menu_item.twig' %}
                </div>
                <div class="right_block">
                    <ul>
                        <li>
                            <a href="tel:+380442892599">+38 (044) 254-55-56</a>
                        </li>
                        <li>
                            <a href="mailto:project@nam.com.ua">project@nam.com.ua</a>
                        </li>
                        <li>
                            <a href="http://www.nam.org.ua">www.nam.org.ua</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom_block clearfix">
                <div class="copy">© 2020 Честь професії. All right reserved.</div>
                <div class="vintage_logo">
                    <a href="https://vintage.com.ua/" target="_blank" rel="nofollow">
                        <img src="/img/footer/vintage.svg" alt="Vintage WEB Production" class="vintage_logo"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
