<div class="popup hidden">
    <div class="message">
        <div class="title">Дякуємо за заявку!</div>
        <div class="text">Найближчим часом ми зв'яжемося для уточнення деталей</div>
    </div>
</div>
