<div class="container">
    <div class="block_text" id="special">
        <div class="number">06.</div>
        <div class="title">Спецномінація "Конструктивна журналістика"</div>
        <div class="text">
            <p>
                Спеціальна номінація створена Наглядовою радою конкурсу для того, щоб акцентувати увагу на важливості
                висвітлення теми так званої «конструктивної журналістики» - підходу, орієнтованого на пошук позитивних
                сторін та новин і на вирішення проблем, що добре впливає на читачів, глядачів, слухачів, суспільство і
                медіа в цілому.
            </p>
            <ul>
                <li>мета журналістського матеріалу - висвітлення позитивного досвіду, прикладу, явища</li>
                <li>обрана тема є суспільно-важливою</li>
                <li>тема глибоко розроблена і розкрита з професійної точки зору</li>
                <li>матеріал просуває приклади стійкості, позитиву, взаємодопомоги, загальнолюдських цінностей</li>
            </ul>
            <p>
                До спеціальної номінації може бути поданий той самий матеріал, що й до однієї з основних номінацій
                «Честь Професії». Також можна подавати матеріал виключно в цю спеціальну номінацію.
                Кількість матеріалів одного автора, поданих до спеціальної номінації, не може перевищувати трьох.
            </p>
        </div>
    </div>
</div>
