<div class="container">
    <div class="block_text" id="best_analytics">
        <div class="number">04.</div>
        <div class="title">Номінація «Найкраща аналітика»</div>
        <div class="text">
            <h5>Актуальність та важливість теми/проблеми</h5>
            <ul>
                <li>
                    Матеріал пояснює суть важливих та актуальних подій, соціальних явищ, феноменів; демонструє тенденції
                    їх розвитку
                </li>
                <li>АБО аргументовано критикує хибні/неефективні шляхи розвитку, хибні установки та орієнтири</li>
                <li>АБО аналізує передовий досвід вирішення соціальних та політичних проблем</li>
                <li>АБО аналізує передовий досвід, надаючи порівняльну характеристику з наявною в Україні ситуацією</li>
            </ul>
            <h5>Достатність фактажу та експертизи</h5>
            <ul>
                <li>
                    Зібрано максимальну кількість фактів щодо теми/проблеми, яка аналізується. Є посилання на джерела
                    інформації
                </li>
                <li>
                    Залучено достатню кількість експертів/ок для тлумачення фактів/даних/специфіки теми; Кваліфікація
                    цих експертів/ок дозволяє їм це робити. Експерти/ки є нейтральними і не просувають позицію тієї чи
                    іншої політичної сили чи бізнесу
                </li>
            </ul>
            <h5>Точність та достовірність даних</h5>
            <ul>
                <li>
                    Усі дані ретельно перевірені та представлені точно і коректно (без маніпулятивних інтерпретацій та
                    вибірковості)
                </li>
                <li>Вказано джерела інформації усіх наведених даних. Перевірено надійність цих джерел</li>
                <li>
                    Соціологічні дослідження (особливо коли йдеться про вибори та виборчу тематику) представлені з
                    вимогою законодавства, зокрема із зазначенням інформації про фірму, яка проводила дослідження,
                    вибірку, географію, час, замовника/ці тощо
                </li>
            </ul>
            <h5>Аргументованість</h5>
            <ul>
                <li>Проблема розібрана на складові, представлена з різних боків</li>
                <li>Усі факти та зібрані дані пояснені/розшифровані для аудиторії</li>
                <li>Наведено логічні докази для обґрунтування проблеми, що піднімається в статті</li>
                <li>
                    Усі висновки/прогнози, до яких приходить автор/ка, підкріплені аргументами, що будуються на фактах,
                    а не домислах
                </li>
                <li>
                    Журналіст/ка у своїх висновках доброчесний і спиратися в аргументах і висновках на озвучені в статті
                    коментарі та оцінки, а не на власну точку зору
                </li>
                <li>Журналіст/ка використовує стандарт балансу думок та повноту представлення фактів та інформації</li>
            </ul>
            <h5>Простота і доступність</h5>
            <ul>
                <li>
                    Якою б не була складною тема, яку аналізує журналіст/ка, вона має бути максимально просто
                    представлена і пояснена аудиторії без спотворення змісту
                </li>
            </ul>
            <h5>Етичність</h5>
            <ul>
                <li>Журналіст/ка не маніпулює у запитаннях, не нав’язує свою позицію та не є ангажованою стороною</li>
                <li>Журналіст/ка у своєму матеріалі дотримується стандартів Кодексу етики українського журналіста,
                    особливо:
                    <ol>
                        <li>
                            Пункт 2. Служіння інтересам влади чи засновників, а не суспільства, є порушенням етики
                            журналіста
                        </li>
                        <li>Пункт 3. Журналіст має з повагою ставитися до приватного життя людини</li>
                        <li>Пункт 4. Висвітлення судових процесів має бути неупередженим щодо звинувачених</li>
                        <li>
                            Пункт 8. Редакційна обробка матеріалів, включаючи знімки, текстівки, заголовки,
                            відповідність відеоряду та текстового супроводу, тощо не повинні фальсифікувати зміст
                        </li>
                        <li>Пункт 9. Факти, судження та припущення мають бути чітко відокремлені одне від одного</li>
                        <li>
                            Пункт 10. Точки зору опонентів, в тому числі тих, хто став об’єктом журналістської критики,
                            мають бути представлені збалансовано
                        </li>
                        <li>
                            Пункт 11. Не допускається таке вибіркове цитування соціологічних досліджень, яке призводить
                            до викривлення змісту
                        </li>
                        <li>
                            Пункт 15. Ніхто не може бути дискримінований через свою стать, мову, расу, релігію,
                            національне, регіональне чи соціальне походження або політичні уподобання
                        </li>
                        <li>
                            Пункт 18. Журналіст має бути особливо обережним при висвітленні питань, пов’язаних із дітьми
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>
