<div class="block_header">
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="/">Головна</a>
            </li>
            <li>
                <span>Критерії оцінки номінацій</span>
            </li>
        </ul>
    </div>
    <div class="title">Критерії оцінки номінацій</div>
</div>
