<div class="block_header">
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="/">Головна</a>
            </li>
            <li>
                <span>Заповнення анкети</span>
            </li>
        </ul>
    </div>
    <div class="title">Бери участь у конкурсі!</div>
</div>
