<div class="form-group">
    <div class="aggree-text">
        Подаючи цю заявку, я даю згоду організаторам конкурсу професійної журналістики "Честь Професії" на використання
        поданих журналістських матеріалів, в тому числі тих, що є об’єктами інтелектуальної власності або їх частин, для
        вироблення аудіо-, відео- або текстових матеріалів, спрямованих на промоцію конкурсу, висвітлення його ходу та
        результатів. Цей дозвіл є вичерпним та не потребує отримання додаткових схвалень на використання поданих мною
        конкурсних матеріалів у будь-якій формі із зазначеною метою.
    </div>
</div>
