<div class="container">
    <div class="block_text">
        <div class="text">
            <p>
                Проведення загальнонаціонального конкурсу професійної журналістики «Честь Професії 2020» стало можливим завдяки підтримці американського народу, що була надана через проект Агентства США з міжнародного розвитку (USAID)
                «Медійна програма в Україні», який виконується міжнародною організацією Internews. Зміст матеріалів є виключно відповідальністю Національної асоціації медіа та необов’язково відображає точку зору USAID, уряду США та
                Internews.
            </p>
            <p>
                Також, конкурс став можливим завдяки підтримці Посольства Швеції.
            </p>
        </div>
    </div>
</div>
