<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкращий репортаж</h5>
            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="http://www.reporters.media/zrozumity-maia/">«Зрозуміти майя»</a>
                    - Струк Олена, Reporters.
                </li>
            </ul>

            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://piligrim.reporters.media/">«Закрити Республіку Пілігрим»</a>
                    - Паплаускайте Марія, Reporters.
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.pravda.com.ua/articles/2019/10/25/7230003">«Республіка Щастя. Як в комуні під Харковом третій десяток років будують утопію» </a>
                    - Кузубов Дмитро, «Українська правда».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://www.korydor.in.ua/ua/stories/filmi-pro-habari-politichni-pisni-ta-p-iesi-pro-zabutih-pensioneriv-yak-u-rumunskij-kulturi-reagujut-na-analogichni-ukrainskim-problemi.html">
                        «Фільми про хабарі й п’єси про забутих пенсіонерів: як румунська культура реагує на соціальні проблеми»
                    </a>
                    - Семиженко Антон, Korydor.
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://lb.ua/society/2019/09/13/437190_ya_vbyu_tvogo_sina_i_potim_pobachimo_chi.html">«Я вб’ю твого сина і потім побачимо, чи зможеш ти дихати»</a>
                    - Іванців Анастасія, LB.ua.
                </li>
            </ul>

            <h5>Спеціальний приз у номінації «Найкращий репортаж у локальному медіа»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://pershyj.com/p-sluhai-u-mene-ye-ofigennii-angar-istoriyi-dovkola-lutskoyi-promzoni-de-oselivsya-teatr-reportazh-40196">
                        «Драма промзони. Історії з луцького ангару, в якому оселився... театр»
                    </a>
                    - Лівіцька Олена, «Перший».
                </li>
            </ul>
        </div>
    </div>
</div>
