<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Спеціальна номінація «Конструктивна журналістика»</h5>
            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://thebabel.com.ua/ru/texts/36386-esli-v-sele-net-vody-i-vse-zavaleno-musorom-to-zachem-togda-cerkov-kak-svyashchennik-sdelal-vymirayushchee-selo-uspeshnym-reportazh-thebabelya">
                        «Если в селе нет воды и все завалено мусором, то зачем тогда церковь? Как священник сделал вымирающее село успешным»
                    </a>
                    - Скібіцька Юліана, «Бабель».
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="http://www.reporters.media/nasylstvo-proty-tebe-takozh-vijna/?fbclid=IwAR3YtjPmkI2wa55rlhCvTcv3h7WZMwFHhOR2bxaFvJLJOTUUmVL3g9EFKX4">
                        «Насильство проти тебе — також війна»
                    </a>
                    - Расулова Оксана, Reporters.
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://nv.ua/ukr/ukraine/chas-zmin-z-nv/inklyuzivna-osvita-rozvagi-i-gromadske-harchuvannya-shcho-ce-i-yak-pracyuye-u-nas-novini-ukrajini-50049819.html">
                        «Включаючись в життя. Як працюють інклюзивні проекти в Україні»
                    </a>
                    - Горчинська Олександра, «Новое время».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.radiosvoboda.org/a/29832903.htm">
                        «Як це - виховувати сина з синдромом Дауна. Історія батьків, які руйнують стереотипи»
                    </a>
                    - Трегубова Ярослава, «Радіо Свобода».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://hromadske.ua/posts/sergij-yakij-peche-keksi-ta-jogo-velika-rodina?fbclid=iwar1erygrfqrgeqgqrlpeafa2jr8odm-6oo9ivp9iwa1z8j2wya7jtzuqq3m">
                        «Сергій, який пече кекси, та його велика родина»
                    </a>
                    - Кузубов Дмитро, «Громадське телебачення».
                </li>
            </ul>

            <h5>Спеціальний приз «Найкращий аудіоматеріал»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://soundcloud.com/radio-nv/same-tam-vyna-yaka-gvaltu">«Війна, яка ґвалтує»</a>
                    - Лопатіна Ірина, «Радіо НВ».
                </li>
            </ul>

            <h5>Спеціальний приз «Надія журналістики»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://lb.ua/society/2019/09/13/437190_ya_vbyu_tvogo_sina_i_potim_pobachimo_chi.html">
                        «Я вб’ю твого сина і потім побачимо, чи зможеш ти дихати»
                    </a>
                    - Іванців Анастасія, LB.ua.
                </li>
            </ul>
        </div>
    </div>
</div>
