<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкраще інтерв’ю</h5>
            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.facebook.com/BBCnewsUkrainian/videos/2495396437396720/">
                        «Справжня Людмила Ігнатенко: перше інтерв'ю після виходу "Чорнобиля"»
                    </a>
                    - Мальчевська Ольга, Януцевич Тетяна, BBC News Україна.
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://novynarnia.com/2019/09/30/iulia-mykytenko/">
                        «Перший в Україні командир дівочого взводу Юлія Микитенко: Коли одягаєш форму, проблема статі відпадає»
                    </a>
                     - Федченко Анастасія, «Новинарня».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.pravda.com.ua/articles/2019/07/12/7220677/">
                        «Історик Плохій: Росія фактично ревізує наслідки розвалу СРСР»
                    </a>
                     - Савватєєв Євген, «Українська правда».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://detector.media/community/article/163698/2019-02-28-ya-khochu-perebuvati-tam-de-vidbuvayutsya-podii-yaki-zminyuyut-istoriyu-anastasiya-bereza-ta-veniamin-trubachov/">
                        «Я хочу перебувати там, де відбуваються події, які змінюють історію, - Анастасія Береза та Веніамін Трубачов»
                    </a>
                     - Холоденко Олена, Світлана Григоренко, Олексій Темченко, «Детектор медіа».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://ru.krymr.com/a/video-interview-ahtem-chiygoz/29790338.html">
                        «Народ был в напряжении: ощущения ужаса, который может произойти - Чийгоз»
                    </a>
                     - Некреча Катерина, Лубчак Євген, «Крим. Реалії».
                </li>
            </ul>
        </div>
    </div>
</div>
