<div class="container">
    <div class="block_text">
        <div class="text">
            <p>
                16 липня 2020 року під час онлайн-трансляції ХІ церемонії національного конкурсу професійної журналістики «Честь Професії» назвали імена переможців.
            </p>
            <p>
                Цьогоріч у 6 основних номінаціях та спецномінації «Конструктивна журналістика» змагалося 615 матеріалів. До шорт-листу увійшло 35 найбільш професійних, впливових та резонансних робіт. Також в основних номінаціях, окрім
                головного переможця, назвали і найкращі матеріали у локальних медіа. Вперше за всю історію конкурсу спеціальною відзнакою нагородили найкращий аудіоматеріал. Спеціальний приз «Надія журналістики» за свій матеріал отримала
                журналістка віком до 24 років.
            </p>
        </div>
    </div>
</div>
