<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкраща публіцистика</h5>
            <h5>Переможець:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://youtu.be/0FCVXM5Bybs">
                        «Хроніки анексії»
                    </a>
                    - Кутєпов Богдан, «Громадське телебачення».
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.youtube.com/watch?v=Xn2Nqi6SF_A&t=5s">
                        «Правда синдромників. Ветерани АТО закликають побратимів піти до психіатра»
                    </a>
                    - Ясинський Станіслав, «ТСН. Тиждень», «1+1».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.youtube.com/watch?v=kj_av3UWJSk">
                        «Я на своїй землі, а ви — окупанти» - Балух»
                    </a>
                    - Руденко Анжеліка, «Крим. Реалії».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://zaborona.com/interactive/klementyna-i-botanik/">
                        «Клементина і ботанік»
                    </a>
                    - Проскуряков Самуїл, «Заборона».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.bbc.com/ukrainian/features-50431418">
                        «Зимова війна: як Фінляндія зупинила наступ СРСР, в якому загинули тисячі українців»
                    </a>
                    - Ерман Георгій, BBC News Україна.
                </li>
            </ul>

            <h5>Спеціальний приз у номінації «Найкраща публіцистика у локальному медіа»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.youtube.com/watch?v=CB4lbYgBk6Y">
                        «Повернути Донбас: Краматорськ»
                    </a>
                    - Задорожня Надія, UA: ДОНБАС.
                </li>
            </ul>
        </div>
    </div>
</div>
