<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкраще новинне висвітлення резонансної події</h5>
            <h5>Переможці:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://ru.krymr.com/a/massovye-obyski-i-zaderzhaniya-v-krymu-krymskie-tatary/29845311.html">
                        «Пытаются выдавить крымских татар»: день массовых обысков и задержаний в Крыму»
                    </a>
                    - Ремовська Олена, Стець Юлія, «Крим. Реалії».
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://hromadske.ua/posts/poki-nichiya-skladnij-dialog-iz-neprostimi-lyudmi-reportazh-hromadske-z-parizkoyi-zustrichi-normandskoyi-chetvirki">
                        «Поки нічия: складний діалог із непростими людьми» — репортаж hromadske з паризької зустрічі «нормандської четвірки»
                    </a>
                    - Гуменюк Наталія, Кохан Олексій, Станко Анастасія, «Громадське телебачення».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.slidstvo.info/investigations/zhorstokyj-svitanok-yak-politsejski-znushhalysya-nad-ditmy-z-odeskogo-prytulku/">
                        «Жорстокий “світанок”: як поліцейські знущалися над дітьми з одеського притулку»
                    </a>
                    - «Слідство.Інфо»
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://ukr.lb.ua/society/2019/08/30/435935_kartkoviy_budinok_drogobichi.html">
                        «Картковий будинок у Дрогобичі. Пошук живих і винних»
                    </a>
                    - Расулова Оксана, LB.ua.
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://www.theinsider.ua/politics/istoriya-zoji-melnik-pogrozi-pokarannya-ta-palochna-sistema-u-patrulniy-policiji/">
                        «Історія Зої Мельник: погрози, покарання та палочна система у патрульній поліції»
                    </a>
                    - Кондратенко Аліна, Insider.
                </li>
            </ul>

            <h5>Спеціальний приз у номінації «Найкраще новинне висвітлення резонансної події у локальному медіа»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.youtube.com/watch?v=C1dLKE8gD0E">
                        «Дружина священника з Тернопільщини звинувачує його у домашньому насильстві»
                    </a>
                    - Скиба Тетяна, TV-4.
                </li>
            </ul>
        </div>
    </div>
</div>
