<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкраще розслідування</h5>
            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.youtube.com/watch?v=lGTf2nUyxfw">
                        «Армія! Друзі! Бабки!»
                    </a>
                    - Іванова Леся, «Наші гроші з Денисом Бігусом» (Bihus.Info).
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://youtu.be/ecDhtL9luNg">
                        «Слуга власного бізнесу: кіпрська таємниця депутата Холодова»
                    </a>
                    - Єгошина Валерія, Толстякова Кіра, «Схеми. Корупція в деталях» (спільний проєкт «Радіо Свобода» та телеканалу UA:Перший).
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://youtu.be/s5O-j0gXtno">
                        «Я — бот»
                    </a>
                    - Бідун Василь, Моторевська Євгенія, Реплянчук Дмитро, «Слідство.Інфо».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://youtu.be/zS5JEhRBIlw">
                        «Тюрма можливостей»
                    </a>
                    - Лихогляд Катерина, «Слідство.Інфо».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.radiosvoboda.org/a/schemes/29848144.html">
                        «П. дав добро»
                    </a>
                    - Седлецька Наталія, «Схеми: корупція в деталях» (спільний проєкт «Радіо Свобода» та телеканалу UA:Перший).
                </li>
            </ul>

            <h5>Спеціальний приз у номінації «Найкраще розслідування у локальному медіа»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://4vlada.com/prodazhnyj-efir-meniu-rivnenskyh-telekanaliv">
                        «Перша частина: Продажний ефір: меню рівненських телеканалів / Друга частина: Папір все стерпить: скільки коштує кандидату обманути читачів рівненських газет / Третя частина: Продажні статті: скільки кандидату коштує
                        прихована реклама на рівненських сайтах»
                    </a>
                    - Ганна, Журавель Вікторія, «Четверта влада».
                </li>
            </ul>
        </div>
    </div>
</div>
