<div class="container">
    <div class="block_text">
        <div class="text">
            <h5>Найкраща аналітика</h5>
            <h5>Переможниця:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://soundcloud.com/radio-nv/same-tam-vyna-yaka-gvaltu">
                        «Війна, яка ґвалтує»
                    </a>
                    - Лопатіна Ірина, «Радіо НВ».
                </li>
            </ul>

            <h5>Фіналісти:</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="https://zaborona.com/interactive/bananovyj-ekvivalent/">«Банановий еквівалент»</a>
                    - Сергацкова Катерина, Степанович Роман, «Заборона»
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.slidstvo.info/investigations/prymarnyj-zarobitok-na-torgivli-migrantamy/">«Примарний заробіток на торгівлі мігрантами»</a>
                    - Горбань Марія, Белфорд Обрі, Каранікас Гарі, Цивіліні Матео, «Слідство.Інфо» та OCCRP.
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.epravda.com.ua/publications/2019/02/6/644772/">«Бенефіціари зеленого тарифу: як нардепи, їхні сім'ї та помічники заробляють на електриці»</a>
                    - Ставнійчук Оксана, Кривко Антон, «Економічна правда».
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://lviv.nashigroshi.org/2019/12/03/use-pishlo-ne-za-planom/">«Усе пішло не за планом»</a>
                    - Ревер Марія, «Наші гроші. Львів».
                </li>
            </ul>

            <h5>Спеціальний приз у номінації «Найкраща аналітика у локальному медіа»</h5>

            <ul>
                <li>
                    <a target="_blank" rel="nofollow" href="http://lviv.nashigroshi.org/2019/12/03/use-pishlo-ne-za-planom/">«Усе пішло не за планом»</a>
                    - Ревер Марія, «Наші гроші. Львів».
                </li>
            </ul>

        </div>
    </div>
</div>
