<div class="container">
    <div class="block_text">
        <div class="number">01.</div>
        <div class="title">Хто може брати участь у конкурсі?</div>
        <div class="text">
            <p>
                Подати свій матеріал на конкурс може кожен, хто професійно займається журналістикою в Україні, - без
                обмежень за віком, типом ЗМІ (преса, телебачення, радіо, інтернет), жанром і сферою журналістики, місцем
                проживання тощо.
            </p>
            <p>
                Висування може бути самостійним (журналіст висуває свої матеріали на конкурс від свого імені),
                колективним (матеріали на конкурс висуває редакція або видавництво) і від імені третьої особи
                (хто-небудь, фізична особа або організація висуває на конкурс який-небудь журналістський матеріал).
            </p>
            <p>
                Один і той же журналіст, редакція або третя особа можуть подавати матеріали одночасно на кілька
                номінацій. Кількість заявок не може перевищувати кількості заявлених номінацій. Один і той самий
                матеріал не може бути поданий більше, ніж в одну номінацію. При цьому на кожен матеріал, поданий на
                Конкурс, необхідно оформити окрему заявку.
            </p>
        </div>
    </div>
</div>
