<div class="container">
    <div class="block_text">
        <div class="number">04.</div>
        <div class="title">Графік конкурсу</div>
        <div class="text">
            <div class="timeline">
                <div class="row clearfix">
                    <div class="date">26 лютого</div>
                    <div class="message">
                        <div class="stage">ЕТАП 1</div>
                        <div class="text">Прийом заявок</div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="date">18 березня</div>
                    <div class="message">
                        <div class="stage">ЕТАП 2</div>
                        <div class="text">Перегляд матеріалів Відбірковою комісією</div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="date">8 квітня</div>
                    <div class="message">
                        <div class="stage">ЕТАП 3</div>
                        <div class="text">Оцінка матеріалів Журі</div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="date">28 квітня</div>
                    <div class="message">
                        <div class="stage">ЕТАП 4</div>
                        <div class="text">Оголошення шорт-листа фіналістів</div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="date">15 травня</div>
                    <div class="message">
                        <div class="stage">ЕТАП 5</div>
                        <div class="text">Оголошення та нагородження переможців</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin"></div>
    </div>
</div>
