<div class="container">
    <div class="block_text">
        <div class="number">03.</div>
        <div class="title">Оцінювання конкурсних матеріалів</div>
        <div class="text">
            <p>
                Конкурсні матеріали оцінюватимуть у два етапи. Спершу їх переглядатиме кваліфікована Відбіркова комісія.
                Її завдання - відібрати не менше 10 та не більше 30 найкращих матеріалів у кожній номінації, що будуть
                допущені до подальшого оцінювання Журі конкурсу
            </p>

            <ul>
                <li>
                    Відбіркова комісія проводить первинну оцінку матеріалів шляхом вивчення поданих матеріалів, оцінки
                    відповідності матеріалів критеріям номінації та виставлення оцінок «Так», або «Ні». Матеріали, які
                    отримують два «Так» від двох представників Відбіркової комісії, автоматично переходять на оцінку
                    Журі
                </li>
                <li>
                    Журі конкурсу проводить оцінку матеріалів шляхом вивчення поданих матеріалів і виставлення оцінок за
                    десятибальною шкалою (1 – мінімальні оцінка, 10 – максимальна), на основі яких визначаються
                    фіналісти та переможці в номінаціях
                </li>
                <li>
                    Усі матеріали, подані в основні номінації, можуть бути також номіновані на присудження спеціальних
                    призів та інших нагород, оголошених Організаторами конкурсу "Честь Професії".
                    Спеціальні номінації і правила подачі матеріалів у них встановлюються Оргкомітетом конкурсу кожного
                    року
                </li>
            </ul>
        </div>
        <div class="margin"></div>
    </div>
</div>
