<div class="container">
    <div class="block_text">
        <div class="number">02.</div>
        <div class="title">Як подати матеріал на конкурс</div>
        <div class="text">
            <p>
                Для участі у конкурсі необхідно заповнити форму та надати посилання на матеріал або копію/скан-копію
                матеріалу, виклавши її перед цим на файлообмінник. Крім того:
            </p>

            <ol>
                <li>
                    <img src="/img/participants/block_text/icon_1.svg" alt="Text 1"/>
                    обов’язково перевірити відповідність матеріалу критеріям номінації, на яку ви подаєте свій матеріал
                </li>
                <li>
                    <img src="/img/participants/block_text/icon_2.svg" alt="Text 2"/>
                    ваш матеріал повинен бути опублікований на території України в місцевих, регіональних,
                    загальнонаціональних та іноземних медіа з 1 січня 2019 року по 31 грудня 2019 року
                </li>
                <li>
                    <img src="/img/participants/block_text/icon_3.svg" alt="Text 3"/>
                    для теле- і радіоматеріалів (викладених на файлообмінники) необхідно надати ефірну довідку
                </li>
                <li>
                    <img src="/img/participants/block_text/icon_4.svg" alt="Text 4"/>
                    у разі подання матеріалу на мові, якою не володіють Журі та Відбіркова комісія, організатори
                    конкурсу можуть попросити надати переклад
                </li>
                <li>
                    <img src="/img/participants/block_text/icon_1.svg" alt="Text 5"/>
                    доступ до матеріалу за посиланням на файлообмінники/сайти повинен бути відкритим не менше, ніж 5
                    місяців з моменту подання заявки
                </li>
            </ol>
        </div>
        <div class="margin"></div>
    </div>
</div>
