<div class="block_position_container block_position_container_participants clearfix">
    <div class="block_position">
        <div class="img">
            <img src="/img/home/block_position/img.png" alt="block position"/>
        </div>
        <div class="description">
            <div class="title">Заповнюй форму та бери участь у конкурсі</div>
        </div>
    </div>
</div>
