<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Головна</a>
        </li>
        <li>
            <span>Учасникам</span>
        </li>
    </ul>
</div>
<div class="participants_block_header clearfix">
    <div class="block_left">
        <div class="block_title">
            Учасникам
        </div>
        <div class="block_description">
            <p>
                Переможець конкурсу професійної журналістики «Честь Професії» нагороджується спеціальною статуеткою
                Конкурсу та дипломом переможця
            </p>
        </div>
    </div>
    <div class="block_right">
        <div class="block_img">
            <img src="/img/participants/block_header/img_1.png" alt="block-1" class="block_1_img"/>
        </div>
    </div>
</div>
