<div class="block_position_container clearfix">
    <div class="block_position">
        <div class="img">
            <img src="/img/home/block_position/img.png" alt="block position"/>
        </div>
        <div class="description">
            <div class="title">Завантажити положення про конкурс</div>
            <div class="text"></div>
            <a class="btn" href="/files/Положення конкурсу Честь Професії 2020.pdf" target="_blank">
                <span>ЗАВАНТАЖИТИ PDF (4,5 MB)</span>
                <span><i></i></span>
            </a>
        </div>
    </div>
</div>
