<div class="container">
    <div class="block_target">
        <div class="title">Цiлi конкурсу</div>
        <div class="sub_title">
            <div class="text_left">
                виявити та заохотити визнанням журналістські матеріали високої професійної якості
            </div>
            <div class="text_right">
                зробити акцент на важливій соціальній ролі та необхідності поваги до якісної журналістики
            </div>
        </div>
        <div class="block_img">
            <img src="/img/home/block_target/img.png" alt="target_img"/>

            <div class="block_description">
                <p>
                    В українських журналістів з 2010 року існує власний професійний конкурс – «Честь Професії»,
                    побудований на тих принципах, що й найкращі професійні журналістські конкурси в світі – такі як
                    Пулітцерівська премія.
                </p>
            </div>
        </div>
    </div>
</div>
