<div class="home_block_header clearfix">
    <div class="block_left">
        <div class="block_title">
            Конкурс професiйної журналiстики
        </div>
        <div class="block_description">
            <p>Дізнатись імена переможців конкурсу «Честь Професії 2020».</p>
            <a class="btn" href="/peremozhci.html">
                <span>Переможці</span>
                <span><i></i></span>
            </a>
        </div>
    </div>
    <div class="block_right">
        <div class="block_img">
            <img src="/img/home/block_header/img_1.png" alt="block-1" class="block_1_img"/>
        </div>
    </div>
</div>
